// _layout.scss
// Styles de base pour la structure de la page
@import 'variables';

body {
  font-family: $font-stack;
  background: $secondary-color;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
